{% extends 'base.html.twig' %}

{% block title %}Transporteur{% endblock %}

{% block navigation %}
{% include 'tools/nav.html.twig'%}
{% endblock%}

{% block body %}
<h1>Transporteur</h1>
{% endblock %}

{% block footer %}
	{% include 'tools/footer.html.twig' %}
{% endblock %}