{% extends 'base.html.twig' %}

{% block title %}Default{% endblock %}

{% block navigation %}
{% include 'tools/nav.html.twig'%}
{% include 'tools/header.html.twig'%}
{% endblock%}

{% block body %}
<h1> Hello World </h1>
{% endblock %}

{% block footer %}
	{% include 'tools/footer.html.twig' %}
{% endblock %}