<footer id="footer" class="top-space" style="background: #232323; color: #bbb; padding: 40px 0; margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 widget">
                <h3 class="widget-title">Contact</h3>
                <div class="widget-body">
                    <p>+33 1 23 45 67 89<br>
                        <a href="mailto:contact@guinot.com">contact@guinot.com</a><br>
                        <br>
                        123 Rue de l'Agriculture, 75000 Paris
                    </p>    
                </div>
            </div>

            <div class="col-md-4 widget">
                <h3 class="widget-title">Suivez-nous</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        <a href="#" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-2"></i></a>
                        <a href="#" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-2"></i></a>
                        <a href="#" class="btn btn-default btn-sm"><i class="fa fa-github fa-2"></i></a>
                    </p>    
                </div>
            </div>

            <div class="col-md-4 widget">
                <h3 class="widget-title">À propos</h3>
                <div class="widget-body">
                    <p>Plateforme dédiée à la gestion des produits agricoles et à la mise en relation entre agriculteurs et clients finaux.</p>
                </div>
            </div>
        </div>

        <div class="row" style="border-top: 1px solid #333; margin-top: 20px; padding-top: 20px;">
            <div class="col-md-12 text-center">
                <p class="text-muted">
                    Copyright &copy; {{ "now"|date("Y") }}, Guinot. Design inspiré par Progressus.
                </p>
            </div>
        </div>
    </div>
</footer>
